@charset "utf-8";

body {
    margin: 0;
    color: #444;
    font-family: "Noto Sans JP", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    height: 130px;
    padding: 10px 0;
    align-items: center;
}

@media (max-width: 1024px) {
    header {
        justify-content: space-between;
        margin: 0 20px;
    }
}

@media (max-width: 599px) {
    header {
        height: 70px;
    }
}

@media (max-width: 599px) {
    header {
        display: block;
        margin: 0 5px;
        text-align: center;
        height: auto;
    }
}

@media (max-width: 599px) {
    #header_logo {
        width: 35%;
    }
}

#header_info {
    text-align: right;
}

@media (max-width: 599px) {
    #header_info {
        text-align: center;
        font-size: 11px;
    }
}

#header_info_datetime {
    margin-bottom: 15px;
}

@media (max-width: 599px) {
    #header_info_datetime {
        margin: 0;
    }
}

#header_info_tel,
#address_txt_tel {
    font-size: 24px;
    color: #21A937;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 599px) {
    #header_info_tel,
    #address_txt_tel {
        font-size: 11px;
    }
}

#header_info_tel img,
#address_txt_tel img {
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 599px) {
    #header_info_tel img,
    #address_txt_tel img {
        width: 3%;
    }
}

#top {
    background-image: url(img/top.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 947px;
    position: relative;
}

@media (max-width: 599px) {
    #top {
        background-position: 73%;
    }
}

#top_txt h1 {
    writing-mode: vertical-rl;
    background: #FFF;
    height: 565px;
    position: absolute;
    top: 236px;
    padding: 18px 40px 0;
    font-size: 28px;
    letter-spacing: 0.2em;
}

@media (max-width: 599px) {
    #top_txt h1 {
        height: 400px;
        top: unset;
        bottom: 50px;
        padding: 18px 15px 0;
        font-size: 20px;
    }
}

#top_txt1 {
    left: 350px;
}

@media (max-width: 599px) {
    #top_txt1 {
        left: 130px;
    }
}

#top_txt2 {
    left: 160px;
}

@media (max-width: 599px) {
    #top_txt2 {
        left: 50px;
    }
}

#top_txt2_color {
    color: #21A937;
}

#concept {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1500px;
    margin: 250px auto 100px;
}

@media (max-width: 1024px) {
    #concept {
        flex-flow: column;
        align-items: center;
    }
}

#concept_txt {
    line-height: 2.5;
}

@media (max-width: 1024px) {
    .order1 {
        order: 2;
    }
    
    #concept_txt {
        width: 80%;
    }
}

@media (max-width: 599px) {
    #concept_txt {
        width: 95%;
        text-align: center;
    }
}

@media (max-width: 599px) {
    #concept_txt p {
        font-size: 11px;
    }
}

#concept_txt_ttl {
    max-width: 400px;
}

@media (max-width: 599px) {
    #concept_txt_ttl {
        max-width: 250px;
        margin: 0 auto;
    }
}

#concept_txt_ttl h1,
#menu_txt h1,
#notice h1 {
    background: linear-gradient(transparent 70%, #99E5A5 70%);
    display: inline;
}

@media (max-width: 599px) {
    #concept_txt_ttl h1,
    #menu_txt h1,
    #notice h1 {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    #concept img {
        width: 80%;
    }
}

@media (max-width: 599px) {
    #concept img {
        width: 95%;
    }
}

main {
    background: #F5FCF8;
    text-align: center;
    padding-bottom: 150px;
}

#menu {
    padding: 100px 0;
}

#menu_txt p {
    margin: 100px 0 50px;
}

@media (max-width: 599px) {
    #menu_txt p {
        font-size: 11px;
        max-width: 170px;
        margin: 50px auto;
    }
}

#menu_content {
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
}

@media (max-width: 1024px) {
    #menu_content {
        display: block;
    }
}

.menu_content_box {
    width: 380px;
    height: 591px;
    background: #FFF;
    border: 2px solid #C9C9C9;
    border-radius: 10px;
    padding: 0 28px;
    position: relative;
}

@media (max-width: 1024px) {
    .menu_content_box {
        display: flex;
        margin: 0 auto;
        width: 80%;
        height: 400px;
        justify-content: space-between;
        padding: 0 0 25px 25px;
    }
}

@media (max-width: 599px) {
    .menu_content_box {
        display: block;
        width: 95%;
        height: 300px;
        padding: 0;
    }
}

.menu_content_box:nth-child(2) {
    margin: 0 25px;
}

@media (max-width: 1024px) {
    .menu_content_box:nth-child(2) {
        margin: 15px auto;
    }
}

@media (max-width: 1024px) {
    .menu_content_box_txt {
        width: 50%;
    }
}

@media (max-width: 599px) {
    .menu_content_box_txt {
        width: 95%;
        margin: 0 auto;
    }
}

.menu_content_box h2 {
    margin: 45px 0;
}

@media (max-width: 1024px) {
    .menu_content_box h2 {
        margin: 25px 0;
    }
}

@media (max-width: 599px) {
    .menu_content_box h2 {
        margin: 25px 0;
        font-size: 20px;
    }
}

.menu_content_box p {
    letter-spacing: 3px;
    line-height: 2;
    text-align: left;
    font-weight: bold;
}

@media (max-width: 599px) {
    .menu_content_box p {
        letter-spacing: 1px;
        text-align: center;
        font-size: 13px;
    }    
}

.menu_content_box img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

@media (max-width: 1024px) {
    .menu_content_box img {
        position: absolute;
        transform: none;
        width: 40%;
        right: 0;
        top: 20%;
    }
}

@media (max-width: 599px) {
    .menu_content_box img {
        bottom: 0;
        transform: translateX(-50%);
        filter: opacity(40%);
        width: unset;
        right: unset;
        top: unset;
    }
}

#notice_box {
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    max-width: 1180px;
    margin: 40px auto;
    padding: 30px 0 50px;
    text-align: left;
    line-height: 2;
    font-weight: bold;
}

@media (max-width: 1024px) {
    #notice_box {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    #notice_box {
        width: 95%;
    }
}

.notice_box_date {
    color: #21A937;
}

.notice_box_index {
    background: #444;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    width: 80px;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

@media (max-width: 599px) {
    .notice_box_index {
        font-size: 10px;
        width: 60px;
    }
}

@media (max-width: 1024px) {
    .notice_box_text {
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 599px) {
    .notice_box_text {
        font-weight: normal;
    }
}

#notice_box p {
    border-bottom: 2px solid #E7E7E7;
    padding-bottom: 20px;
    margin: 20px 40px;
}

@media (max-width: 599px) {
     #notice_box p {
         margin: 20px;
         font-size: 13px;
     }   
}

#notice_box a {
    text-decoration: none;
    color: #444;
    display: block;
    text-align: right;
    margin: 40px 40px 0;
}

@media (max-width: 599px) {
    #notice_box a {
        margin: 40px 20px 0;
        font-size: 13px;
    }
}

#address {
    padding-top: 200px;
}

@media (max-width: 1024px) {
    #address {
        display: flex;
    }
}

#address_inner {
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    #address_inner {
        flex-flow: column;
    }
}

@media (max-width: 599px) {
    #address_inner {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 599px) {
    #address_txt {
        line-height: 2;
    }
}

@media (max-width: 599px) {
    #address_txt_tel {
        font-size: 16px;
    }
}

@media (max-width: 599px) {
    #address_txt_tel img {
        width: 5%;
    }
}

iframe {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    iframe {
        width: 95%;
    }
}

table {
    letter-spacing: 2px;
    margin: 15px 0 15px;
    border-top: 2px solid #E7E7E7;
    border-bottom: 2px solid #E7E7E7;
    padding: 10px 0;
    font-size: 14px;
    border-spacing: 17px;
}

@media (max-width: 599px) {
    table {
        display: none;
    }
}

th {
    border-right: 2px solid #E7E7E7;
    padding-right: 13px;
    vertical-align: top;
    text-align: left;
}

.info_date {
    margin-left: 13px;
    background: linear-gradient(transparent 70%, #99E5A5 70%);
    display: inline;
}
@media (max-width: 599px) {
    .info_date {
        margin: 0;
    }
}

@media (max-width: 599px) {
    #info {
        border-top: 2px solid #E7E7E7;
        border-bottom: 2px solid #E7E7E7;
        margin: 25px 10px;
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    dl {
        display: none;
    }
}

@media (max-width: 599px) {
    dt {
        margin: 10px 10px 0;
        font-weight: bold;
        font-size: 18px;
    }
    
    dd {
        margin: 0 auto;
    }
}


footer {
    text-align: end;
    margin-top: 0;
}

@media (max-width: 1024px) {
    footer {
        text-align: center;
        margin: 10px;
    }
}

@media (max-width: 599px) {
    footer {
        font-size: 12px;
        margin: 10px;
    }
} 